numpy<2.0.0

# 3. Các thư viện AI & Data
setfit
scikit-learn
datasets
huggingface-hub
pandas

# 4. Thư viện PyTorch (Core)
torch
torchvision
torchaudio

# 5. Thư viện để Deploy (API Service)
fastapi
uvicorn
requests